table {
  width: 100%;
  margin-top: 1.5em;
  padding: 1em;
  font-family: "EB Garamond", serif;
}

td {
  font-size: 1.2em;
  color: rgb(233, 206, 157);
  border-bottom: 1px solid orange;
  padding: 8px;
  font-family: "EB Garamond", serif;
}

th {
  color: rgb(233, 206, 157);
  font-weight: 400;
  font-size: 1.5em;
  border-bottom: 1px solid orange;
  padding: 8px;
}

.btn-hover:hover {
  background-color: rgb(141, 111, 28);
  color: rgb(233, 206, 157);
}

.select-options:focus {
  border: none;
  outline: none;
}
