body {
  background-color: rgb(240, 243, 245);
}

.activeInputs:focus {
  outline: none;
  border: none;
}

.bg-lightOrange {
  background-color: rgb(121, 94, 22);
}

.bg-darkOrange {
  background-color: rgb(41, 34, 15);
}

.text-lightOrange {
  color: rgb(233, 206, 157);
}

.font-stylish {
  font-family: "Pacifico", cursive;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(121, 94, 22);
  background: rgb(233, 206, 157);
}

::selection {
  color: rgb(121, 94, 22);
  background: rgb(233, 206, 157);
}
